## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
cd

C:\Users\April Vilmin

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("desktop/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Esperance,AU,-33.8667,121.9000,78.26,60,0,24.54,clear sky
1,1,Mataura,NZ,-46.1927,168.8643,64.11,40,3,3.13,clear sky
2,2,Castro,BR,-24.7911,-50.0119,62.82,98,27,4.12,scattered clouds
3,3,Srednekolymsk,RU,67.4500,153.6833,-5.17,94,100,3.53,overcast clouds
4,4,Ossora,RU,59.2353,163.0719,10.90,86,87,3.02,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 73
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Esperance,AU,-33.8667,121.9000,78.26,60,0,24.54,clear sky
5,5,Atuona,PF,-9.8000,-139.0333,78.62,76,51,15.86,light rain
16,16,Busselton,AU,-33.6500,115.3333,83.08,42,14,14.83,few clouds
17,17,Puerto Escondido,MX,15.8500,-97.0667,78.57,74,0,5.61,clear sky
23,23,Puerto Ayora,EC,-0.7393,-90.3518,74.88,88,85,3.33,light rain
37,37,Arraial Do Cabo,BR,-22.9661,-42.0278,75.54,90,2,11.83,clear sky
39,39,Marawi,PH,7.9986,124.2928,73.65,66,30,10.13,scattered clouds
40,40,Georgetown,MY,5.4112,100.3354,80.15,80,97,5.12,light rain
45,45,Rikitea,PF,-23.1203,-134.9692,79.74,69,100,8.99,overcast clouds
46,46,Yeppoon,AU,-23.1333,150.7333,82.60,67,50,11.90,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                180
City                   180
Country                179
Lat                    180
Lng                    180
Max Temp               180
Humidity               180
Cloudiness             180
Wind Speed             180
Current Description    180
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_preferred_cities_df = preferred_cities_df.dropna()

In [8]:
new_preferred_cities_df.count()

City_ID                179
City                   179
Country                179
Lat                    179
Lng                    179
Max Temp               179
Humidity               179
Cloudiness             179
Wind Speed             179
Current Description    179
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Esperance,AU,78.26,clear sky,-33.8667,121.9000,
5,Atuona,PF,78.62,light rain,-9.8000,-139.0333,
16,Busselton,AU,83.08,few clouds,-33.6500,115.3333,
17,Puerto Escondido,MX,78.57,clear sky,15.8500,-97.0667,
23,Puerto Ayora,EC,74.88,light rain,-0.7393,-90.3518,
37,Arraial Do Cabo,BR,75.54,clear sky,-22.9661,-42.0278,
39,Marawi,PH,73.65,scattered clouds,7.9986,124.2928,
40,Georgetown,MY,80.15,light rain,5.4112,100.3354,
45,Rikitea,PF,79.74,overcast clouds,-23.1203,-134.9692,
46,Yeppoon,AU,82.60,scattered clouds,-23.1333,150.7333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
     print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
     print("Hotel not found... skipping.")

Hospitality Esperance
Villa Enata
Observatory Guest House
Aldea del Bazar Hotel and Spa
Finch Bay Galapagos Hotel
Pousada Porto Praia
Derogongan Residence
Cititel Penang
People ThankYou
Villa Mar Colina
Scoop Guest House
Lords Inn Somnath
Isles Sunset Lodge
Shandrani Beachcomber Resort & Spa
DIAN SINKO
Hilo Hawaiian Hotel
Spanish Villa
INN NEW HORIZON
Montana Hotel Syariah
Casa Tia Villa
Maui Seaside Hotel
Nuevo Hotel Plaza
Recanto dos Ferreiras
Pousada dos Navegantes
Sur Plaza Hotel
Storyboard Beach Resort
Hotel Executivo Palace
Oceano
Tiger Hotel
Hotel Kou-Bugny
Veranda Paul et Virginie Hotel & Spa
Hotel not found... skipping.
Hospitality Carnarvon
Sheraton Kauai Coconut Beach Resort
Screensaver
Mantra Nelson Bay
Lindsey Hôtel
Hotel Nusantara Nabire
Heritage Park Hotel
Kokopo Beach Bungalow Resort
Grand Hotel
Hotel Chik Chik Namibe
Osprey Beach Hotel
Praia Hotel Imbituba
Casa Dora, Bubaque
Fengshui Residence
CEJ - Centro Escoteiro da Juventude
Paradise Inn
DoubleFAG
HS Hotsson Smart Acapulco
Keleti Beach Resort
Tanna Lodge
Balcony On Sixth Lodge
Hotel not found... skipping.
Hotel Castelo
Hotel not found... skipping.
Kost Pria
ILIGAN PARADISE RESORT & ECO PARK
Broadwater Mariner Resort
Hotel RIKMAN Continental
Imagination Island
HOTEL BISO NA BISO
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Welcombe Hotel
Hotel Por do Sol
Mama Mary Healing Chapel
Hôtel cotonputeur
Marica Hills
Halane Hotel and Restaurent
Mini Hotel Central
Hotel Juba
Royal Suite
Ban Kham Phung
castelo pizzaria
Niyama Private Islands Maldives
Khách sạn Hải Âu Quy Nhơn - Seagull Hotel
Usmania Cottage
La Caz Oceane
Shanti Maurice Resort & Spa
Carmen
Atlantis Hotel
ALETHEIA Appartement Sinnamary
Hotel not found... skipping.
Flat Quatro Rodas Olinda
Hotel West
Villa Bella
Sandpiper Motel
Hotel Costa Marina
Reng Ta Chai Boutique HomeStay
Chambres d'hôte "La Trinité"
Salinas do Maragogi All Inclusive Resort
VS Villa
Auki Motel
penginapan citra alam
Maitai Lapita Village Huahine
Rumah Bp.AR. ISMAIL
Sheffield House Bed & Breakfast
Mystic Sands Beachfront Accommodation
Hotel Vitória Palace
Hotel not found... skipping.
JABIR HOTEL
Axim Beach Resort And Spa
Beira Terrace Hotel
Leumerus Bungalows
Hotel not found... skipping.
Pension Oaoa
Pousada Beija Flor
Hotel Portal Nobres
Hotel Provincial
Hotel Atlântico Rio Grande
Jaflo Gardens Hotel
Khandelwal Paradise
Vahmoneh Lodge Vanimo
Highpoint International Hotel
Hotel Sol Nascente - Ariquemes - RO
Hotels in Lakshadweep Islands
"Plantation Bed and Breakfast
Lorengau Harbourside Hotel
Melrose
Airport Lodge Kiunga
Nathaniel's Lodge
Hotel not found... skipping.
Bora-Bora Pearl Beach Resort & Spa
River Downs Cottage
Mumai Hotel
Losmen Dua Mali
Hotel Narayan Avezika Comfort
Aridolf Resort Wellness and Spa
Pousada e Hotel Litoral Sul
Pereybere Hotel & Spa
Grand Zuri Dumai
Hotel not found... skipping.
Komenan brou roseline
Hotel not found... skipping.
degu Shiferaw
The Passage
Hôtel Le Dronmi
Lords Inn Porbandar
900 Boutique INN
Hotel not found... skipping.
Hotel Praia Morena
CeBlue Villas & Beach Resort
Hotel not found... skipping.
Aqua Belloni Lodge
Nusa Island Retreat
Mercure Rockhampton
Pousada Tia Amélia
Hotel Salayish - ሳላይሽ ሆቴል
Grand Vilia Hotel
Dallas Hotel Tucuman
Uruna Bay Retreat
Hotel not found... skipping.
Le gîte du Koniambo
AMBUNTI HIDE INN
Hotel Charvid
Lahaina Shores Beach Resort
OYO 3156 Hotel Warta 2
Costa Verde Beach Hotel
Hotel not found... skipping.
Pine Tree Motel
Hotel de Stephen
Hotel not found... skipping.
Mega Hotel, Miri
Sunset Inn
Hotel Ponta Verde Maceió
Hotel Relax Inn
Seagulls Inn Namatani
Nancy Montanes Bernardo
ABENIE Hotel
Click Hotel Junagadh
Hôtel & Restaurant DIANA Ambilobe
Hotel Flamingo
Posada Acuarela Los Roques
Hôtel Le Lagon
SanBiz Lodge
Xee Wang Guesthouse
Equi-lodge de Moindou
Ozone Resort & Pool Villa
Aviador Hotel Boutique

In [11]:
# 7. Drop the rows where there is no Hotel Name.
new_hotel_df = hotel_df.dropna()
new_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Esperance,AU,78.26,clear sky,-33.8667,121.9000,Hospitality Esperance
5,Atuona,PF,78.62,light rain,-9.8000,-139.0333,Villa Enata
16,Busselton,AU,83.08,few clouds,-33.6500,115.3333,Observatory Guest House
17,Puerto Escondido,MX,78.57,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
23,Puerto Ayora,EC,74.88,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
676,Kirakira,SB,81.09,moderate rain,-10.4544,161.9205,SanBiz Lodge
677,Xam Nua,LA,76.73,scattered clouds,20.4197,104.0439,Xee Wang Guesthouse
679,Moindou,NC,82.35,overcast clouds,-21.6924,165.6770,Equi-lodge de Moindou
688,Phatthalung,TH,78.49,overcast clouds,7.5000,100.0833,Ozone Resort & Pool Villa
694,Santa Cruz,BO,75.51,broken clouds,-17.8000,-63.1667,Aviador Hotel Boutique

In [12]:
pwd

'C:\\Users\\April Vilmin'

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "desktop/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
new_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in new_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = new_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))